<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cadConnCyclone" connectionString="Data Source=LAPTOP-ANTONIO\SQLEXPRESS2020;Initial Catalog=cyclone;User ID=sa;Password=server"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>